doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

        meta(name='description', content='The explorer for the Ethereum blockchain')
        meta(name='author', content='bitfly')
        meta(name='keywords', content='ethereum, explorer, blockchain, etherchain, cryptocurrency, cryptocurrencies, bitcoin')

        title lirs

        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/pagination.css')
    body
        div.head
            div.center.fff
                div.title  #{head.title}
                div.head_list
                    for item in head.list
                        a(href=item.href) #{item.txt}
                div.img
                    a(href=head.img.href)
                        img(src=head.img.src)
                form.text(action="/search", method="POST")
                    button.btnBlue(type='submit')  #{head.submit}
                    input(type=text,placeholder=head.text,name='search')

    .container
        block content

        div.modal.modal-processing.looding
            div.modal_hint.modal-dialog
                img(src="./img/processing.png")
                span #{head.modal[0]}
        div.modal.modal-tools.modal-failed.modal-processing
            div.modal_hint.modal-dialog
                img(src="./img/failed.png")
                span #{head.modal[1]}
        div.modal.modal-tools.modal-done.modal-processing
            div.modal_hint.modal-dialog
                img(src="./img/done.png")
                span #{head.modal[2]}
    script(src='../javascripts/jquery-1.8.3.min.js')

    script(src='../javascripts/jquery.pagination.js')

    script(src='../javascripts/app.js')

